@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.my-container {
  padding: 32px 128px;
}

.my-container-2{
  padding: 32px 64px;
}